.calculator {

    width: 400px;
    background-color: rgb(177, 177, 209);
    color: purple;
    margin: 0 auto;
}

.display {
    padding: 20px;
    text-align: center;
}

.toolbar {

    text-align: center;
    padding-bottom: 50px;
}